.landing-page-main {
  padding-bottom: 6rem;
}

.hero {
  width: 30rem;
  margin: auto;
}

.hero-title {
  margin-bottom: 8rem;
}

.m-t-10rem {
  margin-top: 8rem;
}

.landing-page-main .btn {
  margin-bottom: 1rem;
}

.hero-image-container {
  width: 40rem;
  height: 35rem;
  margin: auto;
}

.hero-link {
  display: block;
  text-decoration: none;
}
