.note-card {
  width: 90%;
  padding: 1rem;
  border: 2px solid var(--color-icon);
  border-radius: 5px;
}

.mt-8px {
  margin-top: 8px;
}

.note-badge-text {
  position: static;
  width: fit-content;
  padding: 2px 12px;
  color: var(--color-black);
  background-color: transparent;
  border: 1px solid var(--color-black);;
}

.edit-icon {
  font-size: 1.38rem;
  padding-bottom: 2.5px;
  color: var(--color-icon);
}

.archive-icon {
  font-size: 1.34rem;
  padding-bottom: 2.5px;
  color: var(--color-icon);
}

.trash-icon {
  font-size: 1.05rem;
  padding-bottom: 3.3px;
  color: var(--color-icon);
}
