:root {
  --z-index-header-30: 30;
  --z-index-toast-27: 27;
  --color-tickle-pink: #F786AA;
  --color-icon: #24292d;
}

body {
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

#root {
  min-height: 100vh;
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gap-1rem {
  gap: 1rem;
}

.flex-start {
  justify-content: flex-start;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.cursor {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.width-fc {
  width: fit-content;
}

.color-green {
  color: var(--color-green-600);
}

.color-red {
  color: var(--color-red);
}

.m-0 {
  margin: 0;
}

.m-r-1rem {
  margin-right: 1rem;
}

.mt-auto {
  margin-top: auto;
}

.m-t-1rem {
  margin-top: 1rem;
}

/* For Pages */
.page-main {
  margin: 1rem;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

/* For cards */
.common-note-card {
  width: 20rem;
  padding: 1rem;
  border: 2px solid var(--color-black);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

/* For Wrapping Page  */
.page-wrapper {
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-areas: "aside main";
}

@media screen and (max-width: 486px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
