body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  cursor: pointer;
}

.width-fc {
  width: fit-content;
}

.color-green {
  color: var(--color-green-600);
}

.color-red {
  color: var(--color-red);
}
